html
  head
    title=title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css")
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
div(class="nav")
    nav 
        a(href="/v1" class="has-text-white-bis")="Oparc"